<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Footer</title>
</head>
<body>
	<div id="footer" th:fragment="footer">
		<footer class="footer">


			<div class="container w-30">

				<div class="row justify-content-md-center pt-4 pb-3">
					<div class="col text-center">
						<p class="text">
							Copyright © 2022. El contenido de las paginas externas no es
							responsabilidad de los autores de este sitio. Lea mas de nuestra
							politica al respecto <br> <br>
						</p>
					</div>
				</div>

			</div>


		</footer>
	</div>
</body>
</html>