<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/miEstilo.css">
<body>
<--
	<div id="header" th:fragment="header">


<!--<header class="container-fluid bg-primary d-flex justify-content-center">
        <p class="text-light mb-0 p-2 fs-6">Contactanos 3885014256</p>
    </header>
-->


  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/">
              <img src="img/Objetivos de Desarrollo Sostenible.png" align=middle width="80" height="80"> 
               <span class="fs-5 text-primary fw-bold">ODS 2030.</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index3">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://juegosods.com/">Juegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="minas">Minas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="quimica">Quimica</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
<!--
    <nav  class="navbar navbar-expand-lg navbar navbar-dark bg-dark p-5"  id="menu">
        <div class="container">
          <a class="navbar-brand" href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/">
              <img src="img/Objetivos de Desarrollo Sostenible.png" align=middle width="80" height="80"> 
              <span class="fs-5 text-primary fw-bold">ODS 2030.</span>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item"><a class="nav-link active"
							aria-current="page" href="index">Principal</a></li>
						<li class="nav-link-active"><a class="nav-link active"
							href="queHacemos">Que Hacemos</a></li>
						<li class="nav-item"><a class="nav-link active" href="equipo">Equipo</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="https://juegosods.com/">Juegos</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="minas">Minas</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="quimica">Quimica</a></li>
						
            </ul>
            
            <!--<form class="d-flex">
              <input class="form-control me-2" type="email" placeholder="Correo Electronico" aria-label="Suscribete">
              <button class="btn btn-primary btn-primary-outline-success" type="button">Suscribete</button>
            </form>-->
          </div>

        </div>
      </nav>

<!--
		<nav class="navbar navbar-expand-sm navbar-dark sticky-top">
			<div class="container-fluid">
				<a class="navbar-brand" href="https://www.un.org/sustainabledevelopment/es/objetivos-de-desarrollo-sostenible/">ODS 2030</a>
				
				
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-2">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="index">Principal</a></li>
						<li class="nav-item"><a class="nav-link active" href="index3">Equipo</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="https://juegosods.com/">Juegos</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="minas">Minas</a></li>
						<li class="nav-item"><a class="nav-link active"
							href="quimica">Quimica</a></li>
						<li class="nav-item dropdown">
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li class="nav-item dropdown">
									<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
										<li><a class="dropdown-item" href="#">Action</a></li>
										<li><a class="dropdown-item" href="#">Another action</a></li>
										<li><hr class="dropdown-divider"></li>
										<li><a class="dropdown-item" href="#">Something else here</a></li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
 -->
</body>
</html>