@charset "ISO-8859-1";

body {
	background-color: rgb(49, 47, 47);
	background-size: 100% 100%;
}

.navbar {
	background-color: rgb(49, 47, 47);
}

label {
	font-size: 25px;
	color: yellow;
	display: flex;
}

ol {
	color: red;
	font-family: Arial;
	font-size: 30px;
	font-weight: 400;
}

/* aviso y aside */
.aviso {
	background: #000;
	color: #fff;
}

aside {
	background-color: rgb(13, 19, 37);
	background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(3,
		3, 3, 0.5) 25px, rgba(41, 21, 131, 0.5) 40px);
}

/* aviso y aside */
h3 {
	color: rgb(40, 29, 143);
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-border {
	border: solid 3px #000;
	border-radius: 20px;
	overflow: hidden;
	transition: all ease-out 0.2s;
}

.card-border:hover {
	transform: scale(1.05);
}

.card-text {
	color: black;
}

div.container12 {
	color: #fb9553;
}

img {
	display: block;
	margin: auto;
	width: 800px;
	padding: 10px;
	justify-content: center;
}

/* Minas */
div.img-fluid rounded {
	display: block;
	margin: auto;
	width: 800px;
	padding: 10px;
	justify-content: center;
}

.alternativo {
	color: #CC0000;
	justify-content: center;
}

div.meta2{
	color:gold;
}

/* footer */
.footer {
	background-color: #000;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
}

/* footer */