<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVOS DE DESARROLLO SOSTENIBLE</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">

</head>

<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>

		<!-- AVISO Y ASIDE -->

		<section class="aviso">
			<div class="container w-30">
				<div class="row justify-content-md-center py-3">
					<div class="col text-center">
						<p class="text">Este sitio tiene el próposito de mostrar
							novedades e informacion acerca de los objetivos de desarrollo
							sostenible</p>
					</div>
				</div>
			</div>
		</section>

		<aside class="container-fluid">
			<div id="noticia" class="container w-70 pl-5">
				<div class="row align-items-center">
					<div class="col-sm text-light p-3 text-center">
						<p>
							OBJETIVO GENERAL <br> Que los estudiantes puedan consolidar,
							integrar y/o ampliar las capacidades y saberes que se
							corresponden a las carreras de Técnico Informático, Técnico
							Químico y Técnico en Minas vinculadas con la Agenda 2030 y los
							Objetivos de Desarrollo Sostenible (ODS).
						</p>
					</div>
					<div class="col-sm p-3">
						<!-- aca va el logo de moni -->
						<img src="img/ODS.png"
							class="w-100 rounded-circle mx-auto d-block" alt="">
					</div>
				</div>
			</div>
		</aside>

		<!-- AVISO Y ASIDE -->
		<br>
		<h4>Los Objetivos de Desarrollo Sostenible, o también conocido
			por sus siglas ODS, fueron adoptados por las Naciones Unidas en el
			año 2015 como un llamado global para proteger nuestro planeta y
			asegurar que todas las personas tengan paz y prosperidad para 2030.
			Se basa en 17 objetivos que sirven para solventar las principales
			problemáticas mundiales actuales, desde la pobreza y la desigualdad
			hasta el cambio climático. En pocas palabras es un mapa de trabajo
			para conseguir un mundo y futuro sostenible para todos.</h4>

		<br>
		<h3 class="text-center h1">¡Para qué sirve los ODS?</h3>
		<br>
		<h4>Los Objetivos de Desarrollo Sostenible consisten en instar a
			todos los países, ya sean ricos, pobres o de ingresos medianos, a
			adoptar medidas para promover la prosperidad al tiempo que protegen
			el planeta. Reconocen que las iniciativas para acabar con la pobreza
			deben ir de la mano de estrategias que favorezcan el crecimiento
			económico y aborden una serie de necesidades sociales, entre las que
			cabe señalar la educación, la salud, la protección social y las
			oportunidades de empleo, a la vez que luchan contra el cambio
			climático y promueven la protección del medio ambiente.</h4>
		<br>
		<h3 class="text-center h1">Objetivos de Desarrollo Sostenible:</h3>
		<br>
		<ol>
			<li> Poner fin a la pobreza en todas sus formas en todo el mundo.</li>
			<li>Poner fin al hambre, lograr la seguridad alimentaria y la mejora de nutrición y promover la agricultura
			sostenible</li>
			<li>Garantizar una vida sana y promover el bienestar para todos en todas las edades.</li>
			<li>Garantizar una educación inclusiva, equitativa y de calidad y promover
			oportunidades de aprendizaje y durante toda la vida para todos.</li>
			<li>Lograr la igualdad entre los géneros y empoderar a todas las mujeres y las niñas.</li>
			<li>Garantizar la disponibilidad de agua y su gestión sostenible y el saneamiento para todos.</li>
			<li>Garantizar el acceso a una energía asequible, segura, sostenible y moderna para todos.</li>
			<li>Promover el	crecimiento económico sostenido, inclusivo y sostenible, el empleo
			pleno y productivo y el trabajo decente para todos.</li>
			<li>Promover el desarrollo de industria, innovación e infraestructuras.</li>
			<li>Reducir la desigualdad en y entre los países.</li>
			<li>Lograr que las ciudades y los asentamientos humanos	sean inclusivos, seguros, resilientes y sostenibles.</li>
			<li>Garantizar modalidades de consumo y producción sostenibles.</li>
			<li>Adoptar medidas urgentes para combatir el cambio climático y sus efectos.</li>
			<li>Conservar y	utilizar en forma sostenible los océanos, los mares y los recursos
			marino para el desarrollo sostenible.</li>
			<li>Gestionar sosteniblemente los bosques, luchar contra la desertificación,
			detener e invertir la degradación de las tierras y detener la pérdida de biodiversidad.</li>
			<li>Promover sociedades justas, pacificas e inclusivas.</li>
			<li>Revitalizar la Alianza Mundial para el Desarrollo Sostenible.</li>	
		</ol>
		  
					<!-- OBEJTIVOS -->

		<section class="cursos">
			<div class="container-md w-30 p-5">

				<div class="row">
					<!--<h3 class="text-center h1">OBJETIVOS</h3>-->
				</div>

				<div class="row">
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 1I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">FIN DE LA POBREZA</h5>
								<p class="card-text"></p>
								<a href="obj1" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 2I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">HAMBRE CERO</h5>
								<p class="card-text"> </p>
								<a href="obj2" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 3I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">SALUD Y BIENESTAR</h5>
								<p class="card-text"> </p>
								<a href="obj3" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 4I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">EDUCACIÓN DE CALIDAD</h5>
								<p class="card-text"> </p>
								<a href="obj4" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 5I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">IGUALDAD DE GÉNERO</h5>
								<p class="card-text"> </p>
								<a href="obj5" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 6I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">AGUA LIMPIA Y SANEAMIENTO</h5>
								<p class="card-text"> </p>
								<a href="obj6" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 7.jpg" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">ENERGÍA ASEQUIBLE Y NO CONTAMINANTE</h5>
								<p class="card-text">Garantizar el acceso a una energía
									asequible, segura, sostenible y moderna para todos.</p>
								<a href="obj7" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 8I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">TRABAJO DECENTE Y CRECIMIENTO ECONÓMICO</h5>
								<p class="card-text"> </p>
								<a href="obj8" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 9I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">INDUSTRIA, INNOVACIÓN E INFRAESTRUCTURA</h5>
								<p class="card-text"> </p>
								<a href="obj9" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 10I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">REDUCCIÓN DE LAS DESIGUALDADES</h5>
								<p class="card-text"> </p>
								<a href="obj10" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 11I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">CIUDADES Y COMUNIDADES SOSTENIBLES</h5>
								<p class="card-text"> </p>
								<a href="obj11" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 12.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">PRODUCCION Y CONSUMO RESPONSABLE</h5>
								<p class="card-text">Garantizar modalidades de consumo y
									producción sostenibles.</p>
								<a href="obj12" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 3I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">ACCIÓN POR EL CLIMA</h5>
								<p class="card-text"> </p>
								<a href="obj13" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 14I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">VIDA SUBMARINA</h5>
								<p class="card-text"> </p>
								<a href="obj14" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>

					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 15.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">VIDA DE ECOSISTEMAS TERRESTRES</h5>
								<p class="card-text">Gestionar sosteniblemente los bosques,
									luchar contra la desertificación, detener e invertir la
									degradación de las tierras y detener la pérdida de
									biodiversidad.</p>
								<a href="obj15" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 16I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">PAZ, JUSTICIA E INSTITUCIONES SÓLIDAS</h5>
								<p class="card-text"> </p>
								<a href="obj16" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
					
					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 17I.png" height="200px" class="card-img-top"
											alt="">
							<div class="card-body">
								<h5 class="card-title">ALIANZAS PARA LOGRAR LOS OBJETIVOS</h5>
								<p class="card-text"> </p>
								<a href="obj17" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- footer -->
		<div th:insert="/layouts/footer :: footer"></div>

		<!-- footer -->

	
			</div>

</body>

</html>