<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/ODS.png">
    
    <title>ODS</title>
	
    
	
    

    <!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet"  crossorigin="anonymous">

	
	
    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="/bootstrap/css/carousel.css" rel="stylesheet">
  </head>
  <body>
    
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">ODS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index">Principal</a>
          </li>
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="queHacemos">Que hacemos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index3">Equipo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="juegos">Juegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="iniciativa">iniciativa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="minas">Minas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="quimica">Quimica</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
</header>



<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item ">
        <img class="first-slide" src="/bootstrap/imagenes/slider1.jpg">

        <div class="container">
          <div class="carousel-caption ">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <img class="second-slide" src="/bootstrap/imagenes/slider2.jpeg">

        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <img class="third-slide" src="/bootstrap/imagenes/slider3.jpg">

        <div class="container">
          <div class="carousel-caption">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
    <h1 class="text-center p-5">Equipo</h1>
      <div class="col-lg-4 col-md-6 col-sm-4">
        <img class="bd-placeholder-img rounded-circle" src="/bootstrap/imagenes/persona.jpg" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        
			
	
        <h2>Agustina Maraz</h2>
        <p>Instagram: </p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.instagram.com/agustinamaraz5/">@agustinamaraz5</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-md-6 col-sm-4">
        <img class="bd-placeholder-img rounded-circle" src="/bootstrap/imagenes/persona.jpg" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        
        <h2>Marcos Quinteros</h2>
        <p>Instagram: </p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.instagram.com/marcos_quinteros27/">@marcos_quinteros27</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4 col-md-6 col-sm-4">
        <img class="bd-placeholder-img rounded-circle" src="/bootstrap/imagenes/persona.jpg" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
        
        <h2>Emilia Valeriano</h2>
        <p>Instagram: </p>
        <p><a class="btn btn-secondary" target="_blank" href="https://www.instagram.com/_____aguusss">@_____aguusss</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
 <footer class="text-center text-lg-start bg-white text-muted">
			<!-- Section: Social media -->
			<section
				class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<!-- Left -->
				<!-- Left -->
				<!-- Right -->
				<div>
					<a href="" class="me-4 link-secondary"> <i
						class="fab fa-facebook-f"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-twitter"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-google"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-instagram"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-linkedin"></i>
					</a> <a href="" class="me-4 link-secondary"> <i
						class="fab fa-github"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->
			<img src="img/Objetivos de Desarrollo Sostenible.png" alt="Objetivos de Desarrollo Sostenible" />
			<!-- Section: Links  -->
			<section class="">
				<div class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div class="row mt-3">
						<!-- Grid column -->
						<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4">
								<i class="fas fa-gem me-3 text-secondary"></i>Proyecto
							</h6>
							<p>La página web se llevó a cabo para la información y expansión del conocimiento de los Objetivos de Desarrollo Sostenible a toda la comunidad Minera de la Escuela de Minas y a todo el público en general</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Integrantes</h6>
							<p>
								<a href="https://www.instagram.com/marcos_quinteros27/" class="text-reset">Marcos Quinteros</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Agustina Maraz</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Emilia Valeriano</a>
							</p>
						</div>
						
						<!-- Grid column -->

						<!-- Grid column -->
						<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
							<p>
								<i class="fas fa-envelope me-3 text-secondary"></i>
								Mail:
							</p>
							<p>
								<i class="fas fa-envelope me-3 text-secondary"></i>
								Cristina.rueda@fca.unju.edu.ar
							</p>
							<p>
								<i class="fas fa-envelope me-3 text-secondary"></i>
								rtito@fca.unju.edu.ar
							</p>
							<p>
								<i class="fas fa-envelope me-3 text-secondary"></i>
								Teléfono:
							</p>
							<p>
								<i class="fas fa-phone me-3 text-secondary"></i>3883100164
							</p>
							<p>
								<i class="fas fa-phone me-3 text-secondary"></i>3885161524
							</p>
							<p>
								<i class="fas fa-envelope me-3 text-secondary"></i>
								Ubicación:
							</p>
							<p>
								<i class="fas fa-home me-3 text-secondary"></i>Ing. Mario Italo Palanca, Y4600 San Salvador de Jujuy, Jujuy
							</p>
						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<!-- Copyright -->
			<div class="text-center p-4"
				style="background-color: rgba(0, 0, 0, 0.025);">
				Copyright © 2022. El contenido de las paginas externas no es
				responsabilidad de los autores de este sitio.  
				<br>
				<a class="text-reset fw-bold" href="https://escmi.unju.edu.ar/index.php">
				Pagina oficial de la Escuela de Minas "Dr Horacio Carrillo"</a>
			</div>
			<!-- Copyright -->
		</footer>
</main>


    <script src="/bootstrap/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      
  </body>
</html>
