<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>ODS MINAS</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">

</head>
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>

		<!-- AVISO Y ASIDE -->

		<section class="aviso">
			<div class="container w-30">
				<div class="row justify-content-md-center py-3">
					<div class="col text-center">
						<p class="text">Este sitio tiene el próposito de mostrar
							novedades e informacion acerca de los objetivos de desarrollo
							sostenible</p>
					</div>
				</div>
			</div>
		</section>

		<!-- AVISO Y ASIDE -->
		<div class="minas">
		<br>
		<h3>OBJETIVOS DE DESARROLLO SOSTENIBLE - MINAS</h3>
		<br>
		<a>Material elaborado por el Alumno:</a><b> Lucas Martin Quinteros</b>
		
			<img alt="example" class="img-fluid rounded" src="img/ODS1A.jfif"> <a class="ripple"
				href="https://docs.google.com/document/d/1Q2j0FDeaolB4VMjdl7S9SDoQqBd_j1AFPolbdoiKbYI/edit?usp=sharing"
				target="_blank"> <img alt="example" class="img-fluid rounded"
				src="img/ODS 1.png" />
			</a> <br> <img src="img/ODS2A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1PjWjZIWVwCvpYQ1xpca9_zXoqKVY_w8moxyH45rPVSU/edit?usp=sharing" 
				target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 2.png" />
			</a> <br> <img src="img/ODS3A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1FRUTmQ9wLEC6ESfWFm3hGBVkJaNNssAaFLhVLZxfWY8/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 3.png" />
			</a> <br> <img src="img/ODS4A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1uVgfsBVznanIuinZuMsQbnmKE6_fZlPCWA_yF59Y9sE/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 4.png" />
			</a> <br> <img src="img/ODS5A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1mExGZAqH9j9KZQ0Oyu_56L_dMahL_5p10UbEJi5a0_E/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 5.png" />
			</a> <br> <img src="img/ODS6A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1zEHgWBStWvKVEpngsY-ORqpTBvBkuB8H0UOhcA3xsWk/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 6.png" />
			</a> <br> <img src="img/ODS7A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1AKR2lX8f2762Qx9KWk9qr3ECo63Rkjcc-K3a2hPnUZE/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 7.1.png" />
			</a> <br> <img src="img/ODS8A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1Us7-EpT_nErwzSAOClYkIMtpJOQypxS7D_uDS4Nw3ns/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 8.png" />
			</a> <br> <img src="img/ODS9A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1pNGjVEMGtlUtujtttMlfhQI1V0r-XxwjEK9ZOU8vIY4/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 9.png" />
			</a> <br> <img src="img/ODS10A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1FsRylKZQJ8xtLRL6ngDEBItvzplG2wKrZckQ4YyQPFM/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 10.png" />
			</a> <br> <img src="img/ODS11A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1_9vRlavUTR02rOrfdcltPCNw_GYpYnKWg1xlJArH0FI/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 11.png" />
			</a> <br> <img src="img/ODS12A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1oRhEYukAlGtZZ2THo4X3sxzOfocbAXT1U6C3oueWCw8/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 12.1.png" />
			</a> <br> <img src="img/ODS13A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1Q04eEy3bYeTsxfR2XikCd57E2EXIK7lcVfu5-AdqOGY/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 13.png" />
			</a> <br> <img src="img/ODS14A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1hWK7wUsrbJoyCxYH1AhiprYz2YPiTrR-5XdNDE7J54k/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 14.png" />
			</a> <br> <img src="img/ODS15A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1rMysPWJOZwCX3JHCKeVkzxZSC9vgOJHb842SJUyYbdA/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 15.1.png" />
			</a> <br> <img src="img/ODS16A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1fFS95tzteB7qfQQJp7voiPbgc9zd6vixmJ4eRhI2ngw/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 16.png" />
			</a> <br> <img src="img/ODS17A.jfif" alt="example" class="img-fluid rounded"> <a class="ripple"
				href="https://docs.google.com/document/d/1X2cGTnm8TO15fak2felhN_jL7LuQfXXAtQNSHb1RxT8/edit?usp=sharing" target="_blank"> <img alt="example"
				class="img-fluid rounded" src="img/ODS 17.png" />
			</a>
		</div>


		<!-- footer -->
		<div th:insert="/layouts/footer :: footer"></div>
		<!-- footer -->

	</div>
</body>

</html>