<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°14</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<img src="img/ODS 14Banner.png" alt="100">
		</div>
		<br>
		<h2>El ODS 14 pretende proteger los ecosistemas marinos y
			costeros, reduciendo la contaminación marina y la acidificación de
			los océanos, poner fin a prácticas insostenibles e ilegales de pesca,
			promover la investigación científica en materia de tecnología marina,
			fomentar el crecimiento de los estados insulares en desarrollo y
			pescadores artesanales e impulsar y reforzar el derecho internacional
			relativo a océanos y mares.</h2>
		<br>
		<div>
			<img src="img/ODS14.png" alt="">
		</div>
		<h2>Metas del ODS N°13: ACCIÓN POR EL CLIMA</h2>
		<div>
			<ol>
				<ul>1. De aquí a 2025, prevenir y reducir significativamente la
					contaminación marina de todo tipo, en particular la producida por
					actividades realizadas en tierra, incluidos los detritos marinos y
					la polución por nutrientes
				</ul>
				<ul>2. De aquí a 2020, gestionar y proteger sosteniblemente los
					ecosistemas marinos y costeros para evitar efectos adversos
					importantes, incluso fortaleciendo su resiliencia, y adoptar
					medidas para restaurarlos a fin de restablecer la salud y la
					productividad de los océanos.
				</ul>
				<ul>3. Minimizar y abordar los efectos de la acidificación de
					los océanos, incluso mediante una mayor cooperación científica a
					todos los niveles.
				</ul>
				<ul>4. De aquí a 2020, reglamentar eficazmente la explotación
					pesquera y poner fin a la pesca excesiva, la pesca ilegal, no
					declarada y no reglamentada y las prácticas pesqueras destructivas,
					y aplicar planes de gestión con fundamento científico a fin de
					restablecer las poblaciones de peces en el plazo más breve posible,
					al menos alcanzando niveles que puedan producir el máximo
					rendimiento sostenible de acuerdo con sus características
					biológicas.
				</ul>
				<ul>5. De aquí a 2020, conservar al menos el 10% de las zonas
					costeras y marinas, de conformidad con las leyes nacionales y el
					derecho internacional y sobre la base de la mejor información
					científica disponible.
				</ul>
				<ul>6. De aquí a 2020, prohibir ciertas formas de subvenciones
					a la pesca que contribuyen a la sobrecapacidad y la pesca excesiva,
					eliminar las subvenciones que contribuyen a la pesca ilegal, no
					declarada y no reglamentada y abstenerse de introducir nuevas
					subvenciones de esa índole, reconociendo que la negociación sobre
					las subvenciones a la pesca en el marco de la Organización Mundial
					del Comercio debe incluir un trato especial y diferenciado,
					apropiado y efectivo para los países en desarrollo y los países
					menos adelantados.
				</ul>
				<ul>7. De aquí a 2030, aumentar los beneficios económicos que
					los pequeños Estados insulares en desarrollo y los países menos
					adelantados obtienen del uso sostenible de los recursos marinos, en
					particular mediante la gestión sostenible de la pesca, la
					acuicultura y el turismo.
				</ul>
				<ul>A. Aumentar los conocimientos científicos, desarrollar la
					capacidad de investigación y transferir tecnología marina, teniendo
					en cuenta los Criterios y Directrices para la Transferencia de
					Tecnología Marina de la Comisión Oceanográfica Intergubernamental,
					a fin de mejorar la salud de los océanos y potenciar la
					contribución de la biodiversidad marina al desarrollo de los países
					en desarrollo, en particular los pequeños Estados insulares en
					desarrollo y los países menos adelantados.
				</ul>
				<ul>B. Facilitar el acceso de los pescadores artesanales a los
					recursos marinos y los mercados.
				</ul>
				<ul>C. Mejorar la conservación y el uso sostenible de los
					océanos y sus recursos aplicando el derecho internacional reflejado
					en la Convención de las Naciones Unidas sobre el Derecho del Mar,
					que constituye el marco jurídico para la conservación y la
					utilización sostenible de los océanos y sus recursos, como se
					recuerda en el párrafo 158 del documento “El futuro que queremos”
				</ul>
			</ol>
		</div>
	</div>
	<!-- footer  -->
	<div th:insert="/layouts/footer :: footer"></div>
</body>

</html>