<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°11</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<h1>Lograr que las ciudades y los asentamientos humanos sean inclusivos, seguros, resilientes y sostenibles</h1>
			<img src="img/ODS 11Banner.png" alt="100">
		</div>
		<br>
		<h2>El ODS 11 pretende conseguir ciudades y comunidades
			sostenibles, a través del acceso de toda la población a viviendas,
			servicios básicos y medios de transporte adecuados, asequibles y
			seguros, especialmente para las personas en situación de
			vulnerabilidad y fomentando en las ciudades la reducción del impacto
			medioambiental, las zonas verdes y espacios públicos seguros e
			inclusivos, un urbanismo sostenible y una mejora de las condiciones
			en los barrios marginales. Además, se busca preservar el patrimonio
			cultural y natural del mundo, hacer frente a los impactos de los
			desastres naturales en los asentamientos humanos y fortalecer el
			vínculo entre las zonas urbanas y rurales para generar un desarrollo
			que beneficie a ambas.</h2>
		<br>
		<h2>Metas del ODS N°11: CIUDADES Y COMUNIDADES SOSTENIBLES</h2>
		<div>
			<img src="img/ODS 11ABanner.jpg" alt="">
		</div>
	</div>
	<!-- footer  -->
	<div th:insert="/layouts/footer :: footer"></div>

</body>

</html>