<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°15</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<div>
				<img src="img/ODS 15Banner.png" alt="100">
			</div>
			<br>
			<h5>El ODS 15 busca proteger, restablecer y promover el uso
				sostenible de los ecosistemas terrestres, gestionar sosteniblemente
				los bosques, detener e invertir la degradación de las tierras,
				combatir la desertificación y frenar la pérdida de biodiversidad.</h5>
			<br>
			<div>
				<img src="img/ODS 15ABanner.jpg" alt="100">
			</div>
			<h2>Metas del ODS N°1: FIN DE LA POBREZA</h2>
			<br>
			<div>
				<ol>
					<ul>1. Asegurar la conservación, el restablecimiento y el uso
						sostenible de los ecosistemas terrestres y los ecosistemas
						interiores de agua dulce y sus servicios, en particular los
						bosques, los humedales, las montañas y las zonas áridas, en
						consonancia con las obligaciones contraídas en virtud de acuerdos
						internacionales.

					</ul>
					<ul>2. Promover la puesta en práctica de la gestión sostenible
						de todos los tipos de bosques degradados y aumentar
						considerablemente la forestación y la reforestación a nivel
						mundial.

					</ul>
					<ul>3. Luchar contra la desertificación, rehabilitar las
						tierras y los suelos degradados, incluidas las tierras afectadas
						por la desertificación, la sequía y las inundaciones, y procurar
						lograr un mundo con efecto neutro en la degradación de las
						tierras.
					</ul>
					<ul>4. Asegurar la conservación de los ecosistemas montañosos,
						incluida su diversidad biológica, a fin de mejorar su capacidad de
						proporcionar beneficios esenciales para el desarrollo sostenible.
					</ul>
					<ul>5. Adoptar medidas urgentes y significativas para reducir
						la degradación de los hábitats naturales, detener la pérdida de
						biodiversidad y, de aquí a 2020, proteger las especies amenazadas
						y evitar su extinción.
					</ul>
					<ul>6. Promover la participación justa y equitativa en los
						beneficios derivados de la utilización de los recursos genéticos y
						promover el acceso adecuado a esos recursos, según lo convenido
						internacionalmente.
					</ul>
					<ul>7. Adoptar medidas urgentes para poner fin a la caza
						furtiva y el tráfico de especies protegidas de flora y fauna y
						abordar tanto la demanda como la oferta de productos ilegales de
						flora y fauna silvestres.
					</ul>
					<ul>8. Adoptar medidas para prevenir la introducción de
						especies exóticas invasoras y reducir significativamente sus
						efectos en los ecosistemas terrestres y acuáticos y controlar o
						erradicar las especies prioritarias.
					</ul>
					<ul>9. Integrar los valores de los ecosistemas y la
						biodiversidad en la planificación, los procesos de desarrollo, las
						estrategias de reducción de la pobreza y la contabilidad nacional
						y local.
					</ul>
					<ul>10. Movilizar y aumentar significativamente los recursos
						financieros procedentes de todas las fuentes para conservar y
						utilizar de forma sostenible la biodiversidad y los ecosistemas.
					</ul>
					<ul>11. Movilizar recursos considerables de todas las fuentes
						y a todos los niveles para financiar la gestión forestal
						sostenible y proporcionar incentivos adecuados a los países en
						desarrollo para que promuevan dicha gestión, en particular con
						miras a la conservación y la reforestación
					</ul>
					<ul>12. 12- Aumentar el apoyo mundial a la lucha contra la
						caza furtiva y el tráfico de especies protegidas, incluso
						aumentando la capacidad de las comunidades locales para perseguir
						oportunidades de subsistencia sostenibles.
					</ul>
				</ol>
			</div>
			<br> <a class="alternativo" href="https://www.ecoandina.org/">Para
				más información presiona aquí</a>

			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>
		</div>
</body>

</html>