<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°10</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<h1>Reducir la desigualdad en y entre los países</h1>
			<img src="img/ODS 10Banner.png" alt="100">
		</div>
		<br>
		<h2>El ODS 10 pretende reducir la desigualdad de ingresos y
			oportunidades entre países y dentro de ellos: reduciendo la pobreza
			en las zonas más desfavorecidas del planeta, promoviendo la inclusión
			social, económica y política de todas las personas, especialmente de
			los grupos vulnerables, impulsando políticas a nivel internacional
			para mejorar la regulación y el control de los mercados e
			instituciones financieras y alentando la cooperación al desarrollo y
			la inversión extranjera directa en las regiones que más lo necesiten.</h2>
		<br>
		<h2>Metas del ODS N°10: REDUCCIÓN DE LAS DESIGUALDADES</h2>
		<div>
			<img src="img/img10.png" alt="">
		</div>
	</div>
	<!-- footer  -->
	<div th:insert="/layouts/footer :: footer"></div>

</body>

</html>