<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/ODS.png">
	<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°1</title>
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- contenido -->

<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
		<br>
		<br>
			<div>
				<img src="img/logo1.jfif" alt="100">
			</div>
			<br>
			<h5>El Objetivo de Desarrollo Sostenible 1
				(Objetivo 1 u ODS 1) se trata sobre la "no pobreza" y es
				uno de los 17 objetivos establecidos por las Naciones
				Unidas en 2015. Su redacción oficial es "acabar con la
				pobreza en todas sus formas, en todas partes". Mediante
				el compromiso de "No dejar a nadie atrás", los países se
				han comprometido a acelerar el progreso para los más
				rezagados</h5>
			<br>
			<h5>El ODS 1 tiene como objetivo erradicar la pobreza extrema.
				Estas incluyen las necesidades humanas más básicas, como la falta de
				alimentos, derechos, agua potable y saneamiento. También se extiende a las
				nuevas amenazas causadas por el cambio climático y los conflictos. Está
				dirigido no solo a hombres y mujeres, servicios y comunidades vulnerables
				y afectados por conflictos y desastres relacionados con el clima. A pesar
				del progreso en curso, el 10% de la población mundial vive en la pobreza y
				lucha por satisfacer necesidades básicas como la salud, educación y el
				acceso al agua y saneamiento. La pobreza extrema sigue prevaleciendo en
				los países de bajos ingresos, especialmente en los afectados por
				conflictos y agitación política, como en el África subsahariana. Sin un
				cambio significativo en las políticas, la pobreza extrema se duplicará
				en dígitos para 2030.</h5>
			<br>
			<h2>Metas del ODS N°1: FIN DE LA POBREZA</h2>
			<br>
			<div>
				<ol>
					<ul>1.1 Para 2030, erradicar la pobreza extrema para todas las
						personas en el mundo, actualmente medida por un ingreso
						por persona inferior a 1,25 dólares al día.</ul>
					<ul>1.2 Para 2030, reducir al menos a la mitad la proporción
						de hombres, mujeres y niños y niñas de todas las edades
						que viven en la pobreza en todas sus dimensiones con
						arreglo a las definiciones nacionales.</ul>
					<ul>1.3 Poner en práctica a nivel nacional sistemas y
						medidas apropiadas de protección social para todos y,
						para 2030, lograr una amplia cobertura de los pobres
						y los más vulnerables.</ul>
					<ul>1.4 Para 2030, garantizar que todos los hombres y
						mujeres, en particular los pobres y los más
						vulnerables, tengan los mismos derechos a los
						recursos económicos, así como acceso a los servicios
						básicos, la propiedad y el control de las tierras
						y otros bienes, la herencia, los recursos naturales,
						las nuevas tecnologías y los servicios económicos,
						incluida la microfinanciación.</ul>
					<ul>1.5Poner en práctica a nivel nacional sistemas y
						medidas apropiadas de protección social para todos y,
						para 2030, lograr una amplia cobertura de los pobres y
						los más vulnerables.</ul>

					<ul>1.a Garantizar una movilización importante de
						recursos procedentes de diversas fuentes, incluso
						mediante la mejora de la cooperación para el desarrollo,
						a fin de proporcionar medios suficientes y previsibles
						para los países en desarrollo, en particular los países
						menos adelantados, para poner en práctica programas y
						políticas encaminados a poner fin a la pobreza en todas
						sus dimensiones.</ul>
					<ul>1.b Crear marcos, normativos sólidos en el ámbito
						nacional, regional e internacional, sobre la base de
						estrategias de desarrollo en favor de los pobres
						que tengan en cuenta las cuestiones de género,
						a fin de apoyar la inversión acelerada en
						medidas para erradicar la pobreza.</ul>
				</ol>
			</div>
			<br>

			<h2>POBREZA EN ARGENTINA</h2>
			<div>
				<img src="img/situacion1.jfif" alt="">
			</div>
			<br>
			<br>

			<h2>POBREZA DESPUES DEL COVID</h2>
			<div>
				<img src="img/fin a la pobresa1.jfif" alt="">
			</div>
			<a class="alternativo" href="https://www.un.org/sustainabledevelopment/es/poverty/">Para más información
				presiona aquí</a>

			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>
		</div>
</body>

</html>