<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°13</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
		<br>
			<img src="img/ODS 13Banner.png" alt="100">
		</div>
		<br>
		<div>
			<img class="obj" src="img/ODS13.jpg" alt="">
		</div>
		<h2>Metas del ODS N°13: ACCIÓN POR EL CLIMA</h2>
		<div>
			<ol>
				<ul>1. Fortalecer la resiliencia y la capacidad de adaptación a
					los riesgos relacionados con el clima y los desastres naturales en
					todos los países.
				</ul>
				<ul>2. Incorporar medidas relativas al cambio climático en las
					políticas, estrategias y planes nacionales.
				</ul>
				<ul>3. Mejorar la educación, la sensibilización y la capacidad
					humana e institucional respecto de la mitigación del cambio
					climático, la adaptación a él, la reducción de sus efectos y la
					alerta temprana. l
				</ul>
				<ul>A. Cumplir el compromiso de los países desarrollados que
					son partes en la Convención Marco de las Naciones Unidas sobre el
					Cambio Climático de lograr para el año 2030 el objetivo de
					movilizar conjuntamente 100.000 millones de dólares anuales
					procedentes de todas las fuentes a fin de atender las necesidades
					de los países en desarrollo respecto de la adopción de medidas
					concretas de mitigación y la transparencia de su aplicación, y
					poner en pleno funcionamiento el Fondo Verde para el Clima
					capitalizándolo lo antes posible.
				</ul>
				<ul>B. Promover mecanismos para aumentar la capacidad para la
					planificación y gestión eficaces en relación con el cambio
					climático en los países menos adelantados y los pequeños Estados
					insulares en desarrollo, haciendo particular hincapié en las
					mujeres, los jóvenes y las comunidades locales y marginadas.
				</ul>
			</ol>
		</div>
	</div>
	<!-- footer  -->
	<div th:insert="/layouts/footer :: footer"></div>
</body>
</html>