<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°16</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<div>
				<img src="img/ODS 16Banner.png" alt="100">
			</div>
			<br>
			<h5>El Objetivo de Desarrollo Sostenible 16 (Objetivo 16 o ODS
				16) trata sobre "alianzas para los objetivos" y es uno de los 17
				Objetivos de Desarrollo Sostenible (ODS) establecidos por las
				Naciones Unidas en 2015.</h5>
			<br>
			<h5>El ODS 16 es: "Promover sociedades pacíficas e inclusivas
				para el desarrollo sostenible, proporcionar acceso a la justicia
				para todos y construir instituciones eficaces, responsables e
				inclusivas en todos los niveles". El Objetivo tiene metas que deben
				alcanzarse para 2030. El progreso hacia las metas se medirá mediante
				indicadores.</h5>
			<br>
			<h5>Reducir los delitos violentos, el tráfico sexual, el trabajo
				forzado y el abuso infantil son objetivos globales claros. La
				comunidad internacional valora la paz y la justicia y pide sistemas
				judiciales más fuertes que hagan cumplir las leyes y trabajen por
				una sociedad más pacífica y justa.</h5>
			<br>
			<div>
				<img src="img/ODS 16ABanner.jpg" alt="100">
			</div>
			<h2>Metas del ODS N°16: PAZ, JUSTICIA E INSTITUCIONES SÓLIDAS</h2>
			<br>
			<div>
				<ol>
					<ul>1.1 Para 2030, erradicar la pobreza extrema para todas las
						personas en el mundo, actualmente medida por un ingreso por
						persona inferior a 1,25 dólares al día.
					</ul>
					<ul>1.2 Para 2030, reducir al menos a la mitad la proporción
						de hombres, mujeres y niños y niñas de todas las edades que viven
						en la pobreza en todas sus dimensiones con arreglo a las
						definiciones nacionales.
					</ul>
					<ul>1.3 Poner en práctica a nivel nacional sistemas y medidas
						apropiadas de protección social para todos y, para 2030, lograr
						una amplia cobertura de los pobres y los más vulnerables.
					</ul>
					<ul>1.4 Para 2030, garantizar que todos los hombres y mujeres,
						en particular los pobres y los más vulnerables, tengan los mismos
						derechos a los recursos económicos, así como acceso a los
						servicios básicos, la propiedad y el control de las tierras y
						otros bienes, la herencia, los recursos naturales, las nuevas
						tecnologías y los servicios económicos, incluida la
						microfinanciación.
					</ul>
					<ul>1.5Poner en práctica a nivel nacional sistemas y medidas
						apropiadas de protección social para todos y, para 2030, lograr
						una amplia cobertura de los pobres y los más vulnerables.
					</ul>

					<ul>1.a Garantizar una movilización importante de recursos
						procedentes de diversas fuentes, incluso mediante la mejora de la
						cooperación para el desarrollo, a fin de proporcionar medios
						suficientes y previsibles para los países en desarrollo, en
						particular los países menos adelantados, para poner en práctica
						programas y políticas encaminados a poner fin a la pobreza en
						todas sus dimensiones.
					</ul>
					<ul>1.b Crear marcos, normativos sólidos en el ámbito
						nacional, regional e internacional, sobre la base de estrategias
						de desarrollo en favor de los pobres que tengan en cuenta las
						cuestiones de género, a fin de apoyar la inversión acelerada en
						medidas para erradicar la pobreza.
					</ul>
				</ol>
			</div>
			<br> 
			<a class="alternativo"
				href="https://www.un.org/sustainabledevelopment/es/peace-justice/
				">Para
				más información presiona aquí</a>

			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>
		</div>
</body>


</html>