<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVOS DE DESARROLLO SOSTENIBLE</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">

</head>

<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>

    <section class="hero" id="hero">
        <div class="container">
            <h2 class="h2-sub">
                <span class="fil">ODS</span>12
            </h2>
            <h1 class="head">Garantizar modalidades de consumo y producción sostenibles</h1>
            <div class="he-des">
                <h5>Lorem t dol</h5>
                <a href="https://www.pactomundial.org/ods/12-produccion-y-consumo-responsables/ " class="btn cta-btn">Explora la historia del ods 12</a>
            </div>
        </div>
    </section>

    <section class="dis-sto">
        <div class="container">
            <div class="res-info">
                <div>
                    <img src="images/nosotros.jpg" alt="">
                </div>
            
                <div class="res-des pad-rig">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">D</span>escubre
                        </h2>
                        <h1 class="head hea-dark">La Historia</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque veniam autem qui magnam ex tempora atque, voluptas
                         voluptatem, recusandae porro corporis assumenda. 
                        Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                    </p>
                    <a href="#" class="btn cta-btn">Nosotros</a>
                </div>

            </div>
        </div>
    </section>


    <section class="taste bt">
        <div class="container">
            <div class="global">
                <h2 class="h2-sub">
                    <span class="fil">P</span>latillos
                </h2>
                <h1 class="head">Lorem</h1>
            </div>
        </div>
    </section>


    <section class="disco">
        <div class="container">
            <div class="res-info">
                <div class="res-des">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">D</span>escubre
                        </h2>
                        <h1 class="head hea-dark">Menu</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque veniam autem qui magnam ex tempora atque, voluptas
                        voluptatem, recusandae porro corporis assumenda. 
                        Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                    </p>
                    <a href="#" class="btn cta-btn">Pide el menu</a>
                </div>
                <div class="image-group pad-rig">
                    <img src="images/menu-1.jpg" alt="">
                    <img src="images/menu-2.jpg" alt="">
                    <img src="images/menu-3.jpg" alt="">
                    <img src="images/menu-4.jpg" alt="">
                </div>

            </div>
        </div>
    </section>

    <section class="pb bt">
        <div class="container">
            <div class="global">
                <h2 class="h2-sub">
                    <span class="fil">P</span>latillos
                </h2>
                <h1 class="head">Lorem</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="res-info">

                <div class="image-group">
                    <img src="images/deli-1.jpg" alt="">
                    <img src="images/deli-2.jpg" alt="">
                </div>
                <div class="res-des pad-rig">
                    <div class="global">
                        <h2 class="h2-sub">
                            <span class="fil">D</span>egusta
                        </h2>
                        <h1 class="head hea-dark">Delisioso menu</h1>
                        <div class="circle">
                            <i class="fas fa-circle"></i>
                        </div>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Doloremque veniam autem qui magnam ex tempora atque, voluptas
                         voluptatem, recusandae porro corporis assumenda. 
                        Aliquam accusamus blanditiis illo, vero quia tempora praesentium.
                    </p>
                    <a href="#" class="btn cta-btn">Has una reservacion</a>
                </div>

            </div>
        </div>
        
		<footer>
        <div class="container">
            <div class="footer-content">

                <div class="footer-content-about">
                    <h4>Nosotros</h4>
                    <div class="circle">
                        <i class="fas fa-circle"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Praesentium odio labore dolorum veritatis, culpa cumque eum 
                        reprehenderit iure, commodi, repellat eaque possimus obcaecati 
                        assumenda exercitationem? 
                        Aperiam provident accusantium laboriosam. Necessitatibus!</p>
                </div>
                <div class="footer-div">
                    <div class="social-media">
                        <h4>Siguenos</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-tripadvisor"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h4>Noticias</h4>
                        <form action="" class="news-form">
                            <input type="text" class="news-input"
                            placeholder="Escribe tu email"
                            >
                            <button class="news-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </footer>

		<!-- footer 
		<div th:insert="/layouts/footer :: footer"></div>

		 footer -->

	</div>

</body>

</html>