<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°1</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>


		<div class="container1">
			<h1>Poner fin a la pobreza en todas sus formas en todo el mundo.</h1>
			<div>
				<img src="img/logo1.jfif" alt="100">
			</div>
			<br>
			<h5>El ODS 1 tiene como objetivo erradicar la pobreza extrema. Estas incluyen las necesidades humanas más básicas, como la falta de alimentos, derechos, agua potable y saneamiento. También se extiende a las nuevas amenazas causadas por el cambio climático y los conflictos. Está dirigido no solo a hombres y mujeres, servicios y comunidades vulnerables y afectados por conflictos y desastres relacionados con el clima. A pesar del progreso en curso, el 10% de la población mundial vive en la pobreza y lucha por satisfacer necesidades básicas como la salud, educación y el acceso al agua y saneamiento. La pobreza extrema sigue prevaleciendo en los países de bajos ingresos, especialmente en los afectados por conflictos y agitación política, como en el África subsahariana. Sin un cambio significativo en las políticas, la pobreza extrema se duplicará en dígitos para 2030.
.</h5>

			<br>
			<h2>Metas del ODS1: FIN DE LA POBREZA</h2>

			<div>
				<img src="img/fin a la pobresa1.jfif" alt="">
			</div>
			<br>
			<h5> </h5>

			<h2>POBREZA EN ARGENTINA</h2>
			<div>
				<img src="img/situacion1.jfif" alt="">
			</div>
			<br>
			<h5> </h5>
			<br>

			<h2>POBREZA DESPUES DEL COVID</h2>
			<div>
				<img src="img/LibroLapiz.jfif" alt="">
			</div>
			<br>
			<h5>COLOCAR</h5>
			<br>

			<h2>¿Qué podemos hacer?</h2>
			<br>
			<h5>colocar</h5>
			<div>
				<img src="img/Toxicidad.jfif" alt="">
			</div>
			<br>
			<h2>Agua</h2>
			<ul>
				<li>Menos del 3% del agua del mundo es fresca (potable), de la
					cual el 2,5% está congelada en la Antártida, el Ártico y los
					glaciares. Por tanto, la humanidad debe contar con tan solo el 0,5%
					para todas las necesidades del ecosistema, del ser humano y de agua
					dulce.</li>
				<li>El ser humano está contaminando el agua más rápido de lo
					que la naturaleza puede reciclar y purificar el agua en los ríos y
					lagos.</li>
				<li>Más de 1000 millones de personas aún no tienen acceso a
					agua potable.</li>
				<li>El uso excesivo de agua contribuye a la escasez de agua
					mundial.</li>
				<li>El agua nos la regala la naturaleza , pero la
					infraestructura necesaria para gestionarla es costosa.</li>
			</ul>
			<br>
			<h2>Energía</h2>
			<ul>
				<li>Si todas las personas del mundo utilizarán bombillas de
					bajo consumo, el mundo se ahorraría 120.000 millones de dólares al
					año.</li>
				<li>A pesar de los avances tecnológicos que han promovido el
					aumento de la eficiencia energética, el uso de energía en los
					países de la Organización de Cooperación y Desarrollo Económicos
					(OCDE) seguirá creciendo otro 35% para 2020. El consumo doméstico y
					comercial de energía es la segunda área de uso de energía que más
					rápidamente ha crecido, después del transporte.</li>
				<li>En 2002, el stock de vehículos de motor en los países de la
					OCDE era de 550 millones (el 75% de los cuales eran automóviles
					particulares). Se prevé un aumento del 32% en la propiedad de
					vehículos para 2020. Al mismo tiempo, se prevé que los kilómetros
					de vehículos aumentarán en un 40% y que el transporte aéreo mundial
					se triplicará en el mismo período.</li>
				<li>Los hogares consumen el 29% de la energía mundial y, en
					consecuencia, contribuyen al 21% de las emisiones de CO2
					resultantes.</li>
				<li>La participación de las energías renovables en el consumo
					final de energía alcanzó el 17,5% en 2015.</li>
			</ul>
			<br>
			<h2>Comida</h2>
			<ul>
				<li>Si bien los impactos ambientales más graves en los
					alimentos se producen en la fase de producción (agricultura y
					procesamiento de alimentos), los hogares influyen en estos impactos
					a través de sus hábitos y elecciones dietéticas. Esto, en
					consecuencia, afecta el medio ambiente a través del consumo de
					energía relacionada con los alimentos y la generación de residuos.</li>
				<li>Cada año, se calcula que un tercio de todos los alimentos
					producidos, equivalentes a 1300 millones de toneladas por valor de
					alrededor de 1000 millones de dólares, termina pudriéndose en los
					contenedores de los consumidores y minoristas, o se estropea debido
					a las malas prácticas del transporte y la cosecha.</li>
				<li>2000 millones de personas en todo el mundo tienen sobrepeso
					o son obesas.</li>
				<li>La degradación de la tierra, la disminución de la
					fertilidad del suelo, el uso insostenible del agua, la sobrepesca y
					la degradación del medio marino están disminuyendo la capacidad de
					la base de recursos naturales para suministrar alimentos.</li>
				<li>El sector de la alimentación representa alrededor del 30%
					del consumo total de energía en el mundo y un 22% del total de las
					emisiones de gases de efecto invernadero.</li>
			</ul>
			<img src="img/Cesto.jfif" alt=""> <img
				src="img/reciclarPlaneta.jfif" alt=""> <br>
			<h2>¿Cómo pueden las empresas contribuir al ODS 12?</h2>
			<ul>
				<h4>Las empresas pueden contribuir de diferentes maneras al ODS
					12. Hay determinadas empresas cuyo núcleo de negocio está más
					directamente ligado a este Objetivo, como las del sector
					agroalimentario o las del sector industrial. No obstante, todas las
					empresas, independientemente de su sector, pueden tomar medidas
					para contribuir a este ODS.</h4>
				<h4>En el ámbito interno:</h4>
				<li>Incorporando el ODS 12 en la visión empresarial, en las
					políticas y estrategias, y desarrollando objetivos e indicadores de
					sostenibilidad en todos los productos y servicios.</li>
				<li>Implantando medidas para optimizar el uso del agua y
					fomentando la reutilización hídrica en la extracción de materiales
					y transformación de productos.</li>
				<li>Combatiendo el desperdicio alimentario en toda la cadena de
					valor y reduciendo las pérdidas de alimentos a lo largo de las
					cadenas de producción, distribución y suministro, en colaboración
					con proveedores, consumidores, minoristas y gobiernos.</li>
				<li>Diseñando los productos y servicios de la empresa para que
					hagan un uso eficiente de la energía y los recursos naturales en
					todas las etapas a través de la cadena de valor.</li>
				<img src="img/Reciclar.jfif" alt="" align="right">
				<br>
				<h4>En el ámbito externo:</h4>
				<li>Minimizando la contaminación atmosférica, hídrica, del
					suelo y acústica y los residuos en los procesos de producción y
					distribución de productos y servicios. Impulsando operaciones
					limpias, a través de elementos libres o bajos en sustancias
					tóxicas.</li>
				<li>Impulsando la eficiencia energética en toda la cadena de
					valor, incluidas la extracción, la fabricación, el embalaje y la
					logística, potenciando el uso de energías renovables.</li>
				<li>Integrando criterios de economía circular en la
					organización, mediante políticas de prevención, reducción,
					reutilización, reciclaje y valoración de residuos, adaptando
					prácticas sostenibles y reflejándolas en los informes de
					sostenibilidad.</li>

			</ul>
		</div>



		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<!-- footer  -->
		<div th:insert="/layouts/footer :: footer"></div>
	</div>
</body>

</html>