<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBEJTIVOS DE DESARROLLO SOSTENIBLE</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">

</head>


<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>

		<!-- AVISO Y ASIDE -->


		<section class="aviso">


			<div class="container w-30">

				<div class="row justify-content-md-center py-3">
					<div class="col text-center">
						<p class="text">La ODS12 o también conocida como la Producción y Consumo Responsables, consiste en fomentar el uso eficiente de los recursos y la energía, la construcción de infraestructura que no dañen el medio ambiente, la mejora del acceso a los servicios básicos y la creación de empleos ecológicos, justamente remunerados y con buenas condiciones laborales. Todo se traduce a una mejor calidad de vida para todos además de ayudar a lograr planes generales de desarrollo, que rebajen costos económicos, ambientales y sociales que aumenten la competitividad y que reduzcan la pobreza.
</p>
					</div>
				</div>

			</div>

		</section>

		<aside class="container-fluid">
			<div id="noticia" class="container w-70 pl-5">

				<div class="row align-items-center">

					<div class="col-sm text-light p-3 text-center">
						<p>
							OBJETIVO GENERAL <br> Que los estudiantes puedan consolidar,
							integrar y/o ampliar las capacidades y saberes que se
							corresponden a las carreras de Técnico Informático, Técnico
							Químico y Técnico en Minas vinculadas con la Agenda 2030 y los
							Objetivos de Desarrollo Sostenible (ODS).
						</p>
					</div>

					<div class="col-sm p-3">
						<!-- aca va el logo de moni -->
						<img src="img/aprendiendo.jpg"
							class="w-100 rounded-circle mx-auto d-block" alt="">
					</div>


				</div>

			</div>
		</aside>


		<!-- AVISO Y ASIDE -->


		<!-- OBEJTIVOS -->

		<section class="cursos">
			<div class="container-md w-30 p-5">

				<div class="row">
					<h3 class="text-center h1">OBJETIVOS</h3>
				</div>

				<div class="row">

					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 7.jpg" height="200px" class="card-img-top"
								alt="">
							<div class="card-body">
								<h5 class="card-title">ENERGÍA ASEQUIBLE Y NO CONTAMINANTE</h5>
								<p class="card-text">Garantizar el acceso a una energía
									asequible, segura, sostenible y moderna para todos.</p>
								<a href="obj7" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>


					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 12.png" height="200px" class="card-img-top"
								alt="">
							<div class="card-body">
								<h5 class="card-title">PRODUCCION Y CONSUMO RESPONSABLE</h5>
								<p class="card-text">Garantizar modalidades de consumo y
									producción sostenibles.</p>
								<a href="obj12.html" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>


					<div class="col-6 col-sm pt-5">
						<div class="card h-100 card-border" style="width: 100%;">
							<img src="./img/ODS 15.png" height="200px" class="card-img-top"
								alt="">
							<div class="card-body">
								<h5 class="card-title">VIDA DE ECOSISTEMAS TERRESTRES</h5>
								<p class="card-text">Gestionar sosteniblemente los bosques,
									luchar contra la desertificación, detener e invertir la
									degradación de las tierras y detener la pérdida de
									biodiversidad.</p>
								<a href="obj15" target="_blank" class="btn btn-primary">Leer
									más</a>
							</div>
						</div>
					</div>

				</div>
				
				<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="obj15" class="card-link">Card link</a>
    <a href="obj15" class="card-link">Another link</a>
  </div>
</div>
				
				
		</section>



		<!-- footer -->
		<div th:insert="/layouts/footer :: footer"></div>

		<!-- footer -->

	</div>

</body>

</html>