<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/ODS.png">
	<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°2</title>
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- contenido -->

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<div>
				<img class="obj" src="img/ODS 2Banner.png" alt="100">
			</div>
			<br>
			<div>
				<img src="img/situacion2.jpg" alt="">
			</div>
			<br>
			<h2>Metas del ODS N°2: HAMBRE CERO</h2>
			<br>
			<div class="meta2">
				<ol>
					<ul>2.1. De aquí a 2030, poner fin al hambre y asegurar el acceso de todas las personas, en
						particular los
						pobres y las personas en situaciones de vulnerabilidad, incluidos los niños menores de 1 año, a
						una
						alimentación sana, nutritiva y suficiente durante todo el año.
					</ul>
					<ul>2.2. De aquí a 2030, poner fin a todas las formas de malnutrición, incluso logrando, a más
						tardar en
						2025, las metas convenidas internacionalmente sobre el retraso del crecimiento y la 1.emaciación
						de
						los niños menores de 5 años, y abordar las necesidades de nutrición de las adolescentes, las
						mujeres
						embarazadas y lactantes y las personas de edad.
					</ul>
					<ul>2.3. De aquí a 2030, duplicar la productividad agrícola y los ingresos de los productores de
						alimentos en
						pequeña escala, en particular las mujeres, los pueblos indígenas, los agricultores familiares,
						los
						ganaderos y los pescadores, entre otras cosas mediante un acceso seguro y equitativo a las
						tierras, a
						otros recursos e insumos de producción y a los conocimientos, lo servicios financieros, los
						mercados y
						las oportunidades para añadir valor y obtener empleos no agrícolas</ul>
					<ul>2.4. De aquí a 2030, asegurar la sostenibilidad de los sistemas de producción de alimentos y
						aplicar
						prácticas agrícolas resilentes que aumenten la productividad y la producción, contribuyan al
						mantenimiento de los ecosistemas, fortalezcan la capacidad de adaptación al cambio climático,
						los
						fenómenos meteorológicos extremos, las sequías, las inundaciones y otros desastres, y mejoren
						progresivamente la calidad de la tierra y el suelo.</ul>
					<ul>2.5. De aquí a 2030, mantener la diversidad genética de las semillas, las plantas cultivadas y
						los
						animales de granja y domesticados y sus correspondientes especies silvestres, entre otras cosas
						mediante una buena gestión y diversificación de los bancos de semillas y plantas a nivel
						nacional,
						regional e internacional, y promover el acceso a los beneficio que se deriven de la utilización
						de los
						recursos genéticos y los conocimientos tradicionales conexos y su distribución justa y
						equitativa, según
						lo convenido internacionalmente.
					</ul>

					<ul>2.A. Aumentar, incluso mediante una mayor cooperación internacional, las inversiones en
						infraestructura rural, investigación y servicios de extensión agrícola, desarrollo tecnológico y
						bancos de
						genes de plantas y ganado a fin de mejorar la capacidad de producción agropecuaria en los países
						en
						desarrollo, particularmente en los países menos adelantados.</ul>
					<ul>>2.B. Corregir y prevenir las restricciones y distorsiones comerciales en los mercados
						agropecuarios
						mundiales, incluso mediante la eliminación paralela de todas las formas de subvención a las
						exportaciones agrícolas y todas las medidas de exportación con efectos equivalentes, de
						conformidad
						con el mandato de la Ronda de Doha para el Desarrollo.</ul>
					<ul>2.C. Adoptar medidas para asegurar el buen funcionamiento de los mercados de productos básicos
						alimentarios y sus derivados y facilitar el acceso oportuno a la información sobre los mercados,
						incluso
						sobre las reservas de alimentos, a fin de ayudar a limitar la extrema volatilidad de los precios
						de los
						alimentos.</ul>
				</ol>
			</div>
			<br>
			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>



</body>

</html>