<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/ODS.png">
	<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°3</title>
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- contenido -->

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>


		<div class="container1">
			<div>
				<img src="img/ODS 3ABanner.png" alt="100">
			</div>
			<br>
			<br>
			<h5>Para lograr el desarrollo sostenible es fundamental
				garantizar una vida saludable y promover el bienestar de
				todas las personas a lo largo del ciclo de vida. La situación
				en América Latina y el Caribe es positiva, dado que se han
				obtenido grandes progresos en relación con el aumento de la
				esperanza de vida y la reducción de algunas de las causas de
				muerte más comunes relacionadas con la mortalidad infantil
				y materna, así como respecto a la reducción de la malaria,
				la tuberculosis, la poliomielitis y la propagación del
				VIH/sida y las enfermedades trasmitidas por el agua gracias
				al mayor acceso a agua limpia y saneamiento. Sin embargo,
				más allá de dichos avances, siguen existiendo diversos
				desafíos relacionados con la cobertura sanitaria universal
				y de calidad para todos, la erradicación de una amplia
				gama de enfermedades, y numerosas y variadas cuestiones
				persistentes y emergentes relativas a la salud.</h5>
			<br>
			<br>
			<div>
				<img src="img/ODS 3Banner.png" alt="">
			</div>
			<h2>Metas del ODS N°3: SALUD Y BIENESTAR</h2>
			<br>
			<br>
			<div>
				<ol>
					<ul>1. De aquí a 2030, reducir la tasa mundial de mortalidad materna a menos de 70 por cada 100.000 nacidos vivos</ul>
					<ul>2. De aquí a 2030, poner fin a las muertes evitables de recién nacidos y de niños menores de 5 años, logrando que todos los países intenten reducir la mortalidad neonatal al menos a 12 por cada 1.000 nacidos vivos y la mortalidad de los niños menores de 5 años al menos a 25 por cada 1.000 nacidos vivos</ul>
					<ul>3. De aquí a 2030, poner fin a las epidemias del SIDA, la tuberculosis, la malaria y las enfermedades tropicales desatendidas y combatir la hepatitis, las enfermedades transmitidas por el agua y otras enfermedades transmisibles</ul>
					<ul>4. Fortalecer la prevención y el tratamiento del abuso de sustancias adictivas, incluido el uso indebido de estupefacientes y el consumo nocivo de alcohol</ul>
					<ul>5. De aquí a 2020, reducir a la mitad el número de muertes y lesiones causadas por accidentes de tráfico en el mundo</ul>
					<ul>6. De aquí a 2030, garantizar el acceso universal a los servicios de salud sexual y reproductiva, incluidos los de planificación familiar, información y educación, y la integración de la salud reproductiva en las estrategias y los programas nacionales</ul>
					<ul>7. Lograr la cobertura sanitaria universal, incluida la protección contra los riesgos financieros, el acceso a servicios de salud esenciales de calidad y el acceso a medicamentos y vacunas inocuos, eficaces, asequibles y de calidad para todos</ul>
					<ul>8. De aquí a 2030, reducir considerablemente el número de muertes y enfermedades causadas por productos químicos peligrosos y por la polución y contaminación del aire, el agua y el suelo</ul>
					<ul>9. Fortalecer la aplicación del Convenio Marco de la Organización Mundial de la Salud para el Control del Tabaco en todos los países, según proceda</ul>
					<ul>10. Apoyar las actividades de investigación y desarrollo de vacunas y medicamentos contra las enfermedades transmisibles y no transmisibles que afectan primordialmente a los países en desarrollo y facilitar el acceso a medicamentos y vacunas esenciales asequibles de conformidad con la Declaración relativa al Acuerdo sobre los Aspectos de los Derechos de Propiedad Intelectual Relacionados con el Comercio y la Salud Pública, en la que se afirma el derecho de los países en desarrollo a utilizar al máximo las disposiciones del Acuerdo sobre los Aspectos de los Derechos de Propiedad Intelectual Relacionados con el Comercio respecto a la flexibilidad para proteger la salud pública y, en particular, proporcionar acceso a los medicamentos para todos</ul>
					<ul>11. Aumentar considerablemente la financiación de la salud y la contratación, el perfeccionamiento, la capacitación y la retención del personal sanitario en los países en desarrollo, especialmente en los países menos adelantados y los pequeños Estados insulares en desarrollo</ul>
					<ul>12. Reforzar la capacidad de todos los países, en particular los países en desarrollo, en materia de alerta temprana, reducción de riesgos y gestión de los riesgos para la salud nacional y mundial</ul>				
				</ol>
			</div>
			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>
</div>
</div>

</body>

</html>