<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width-device-width,initial-scale-1.0">
	<link rel="shortcut icon" href="img/ODS.png">
	<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°4</title>
	<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>

<!-- contenido -->

<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>


		<div class="container1">
			<h1>Garantizar una educación inclusiva, quitativa y de calidad y promover oportunidades de aprendizaje
				durante toda la vida para todos</h1>
			<div>
				<img src="img/ODS 4Banner.png" alt="100">
			</div>
			<br>
			<div>
				<img src="img/ODS 4ABanner.png" alt="">
			</div>
			<br>
			<h5>Las razones de la falta de una educación de calidad son la escasez de profesores. La educación permite
				la movilidad socioeconómica ascendente y es clave para salir de la pobreza. Durante la última década, se
				consiguieron grandes avances a la hora de ampliar el acceso a la educación y las tasas de matriculación
				en las escuelas en todos los niveles, especialmente para las niñas. No obstante, alrededor de 260
				millones de niños aún estaban fuera de la escuela en 2018; cerca de una quinta parte de la población
				mundial de ese grupo de edad. Además, más de la mitad de todos los niños y adolescentes de todo el mundo
				no están alcanzando los estándares mínimos de competencia en lectura y matemáticas.
				capacitados y las malas condiciones de las escuelas de muchas zonas del mundo y las cuestiones de
				equidad relacionadas con las oportunidades que tienen niños y niñas de zonas rurales. Para que se brinde
				educación de calidad a los niños de familias empobrecidas, se necesita invertir en becas educativas,
				talleres de formación para docentes, construcción de escuelas y una mejora del acceso al agua y
				electricidad en las escuelas.</h5>
			<br>
			<h2>Metas del ODS N°4: EDUCACIÓN DE CALIDAD</h2>
			<div>
				<ol>
					<ul>1. De aquí a 2030, asegurar que todas las niñas y todos los niños terminen la enseñanza primaria
						y secundaria, que ha de ser gratuita, equitativa y de calidad y producir resultados de
						aprendizaje pertinentes y efectivos</ul>
					<ul>2. De aquí a 2030, asegurar que todas las niñas y todos los niños tengan acceso a servicios de
						atención y desarrollo en la primera infancia y educación preescolar de calidad, a fin de que
						estén preparados para la enseñanza primaria</ul>
					<ul>3. De aquí a 2030, asegurar el acceso igualitario de todos los hombres y las mujeres a una
						formación técnica, profesional y superior de calidad, incluida la enseñanza universitaria</ul>
					<ul>4. De aquí a 2030, aumentar considerablemente el número de jóvenes y adultos que tienen las
						competencias necesarias, en particular técnicas y profesionales, para acceder al empleo, el
						trabajo decente y el emprendimiento</ul>
					<ul>5. De aquí a 2030, eliminar las disparidades de género en la educación y asegurar el acceso
						igualitario a todos los niveles de la enseñanza y la formación profesional para las personas
						vulnerables, incluidas las personas con discapacidad, los pueblos indígenas y los niños en
						situaciones de vulnerabilidad</ul>
					<ul>6. De aquí a 2030, asegurar que todos los jóvenes y una proporción considerable de los adultos,
						tanto hombres como mujeres, estén alfabetizados y tengan nociones elementales de aritmética</ul>
					<ul>7. De aquí a 2030, asegurar que todos los alumnos adquieran los conocimientos teóricos y
						prácticos necesarios para promover el desarrollo sostenible, entre otras cosas mediante la
						educación para el desarrollo sostenible y los estilos de vida sostenibles, los derechos humanos,
						la igualdad de género, la promoción de una cultura de paz y no violencia, la ciudadanía mundial
						y la valoración de la diversidad cultural y la contribución de la cultura al desarrollo
						sostenible</ul>
				</ol>
			</div>
			<h2>¿Cómo lograrlo?</h2>
			<div>
				<ol>
					<ul>a) Construir y adecuar instalaciones educativas que tengan en cuenta las necesidades de los niños y las personas con discapacidad y las diferencias de género, y que ofrezcan entornos de aprendizaje seguros, no violentos, inclusivos y eficaces para todos</ul>
					<ul>b) De aquí a 2020, aumentar considerablemente a nivel mundial el número de becas disponibles para los países en desarrollo, en particular los países menos adelantados, los pequeños Estados insulares en desarrollo y los países africanos, a fin de que sus estudiantes puedan matricularse en programas de enseñanza superior, incluidos programas de formación profesional y programas técnicos, científicos, de ingeniería y de tecnología de la información y las comunicaciones, de países desarrollados y otros países en desarrollo</ul>
					<ul>c) De aquí a 2030, aumentar considerablemente la oferta de docentes calificados, incluso mediante la cooperación internacional para la formación de docentes en los países en desarrollo, especialmente los países menos adelantados y los pequeños Estados insulares en desarrollo</ul>
				</ol>
			</div>
			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>
</body>
</html>