<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°6</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>


		<div class="container1">
			<h1>Garantizar la disponibilidad de agua y su gestión sostenible
				y el saneamiento para todos</h1>
			<div>
				<img src="img/ODS 6Banner.png" alt="100">
			</div>
			<br>
			<div>
				<img src="img/img6.png" alt="">
			</div>
			<br>
			<h2>¿Para qué sirve el ODS N°6</h2>
			<br>
			<h5>El Objetivo de Desarrollo Sostenible 6 (Objetivo 6 o ODS 6)
				trata sobre alianzas para los objetivos y es uno de los 17 Objetivos
				de Desarrollo Sostenible (ODS) establecidos por las Naciones
				Unidas en 2015.</h5>
			<h5>El ODS 6 es: "Garantizar la disponibilidad de agua y su
				gestión sostenible y el saneamiento para todos". El Objetivo tiene
				metas que deben alcanzarse para 2030. El progreso hacia las metas se
				medirá mediante indicadores.</h5>
			<h5>Asistir a la escuela y al trabajo sin interrupciones apoya
				la educación y el empleo. Por lo tanto, los baños en la escuela y en
				el lugar de trabajo se incluyen en la segunda meta: "lograr el
				acceso a un saneamiento e higiene adecuados y equitativos para
				todos". Las soluciones equitativas de saneamiento e higiene abordan
				las necesidades de las mujeres y las niñas y las que se encuentran
				en situaciones vulnerables, como los ancianos o las personas
				con discapacidad.</h5>

			<br> <br>
			<h2>Metas del ODS N°6: AGUA Y SANEAMIENTO</h2>
			<div>
				<ol>
					<ul>.1  De aquí a 2030, lograr el acceso universal y
						equitativo al agua potable a un precio asequible para todos
					</ul>
					<ul>2  De aquí a 2030, lograr el acceso a servicios de
						saneamiento e higiene adecuados y equitativos para todos y poner
						fin a la defecación al aire libre, prestando especial atención a
						las necesidades de las mujeres y las niñas y las personas en
						situaciones de vulnerabilidad
					</ul>
					<ul>3  De aquí a 2030, mejorar la calidad del agua reduciendo
						la contaminación, eliminando el vertimiento y minimizando la
						emisión de productos químicos y materiales peligrosos, reduciendo
						a la mitad el porcentaje de aguas residuales sin tratar y
						aumentando considerablemente el reciclado y la reutilización sin
						riesgos a nivel mundial
					</ul>
					<ul>4  De aquí a 2030, aumentar considerablemente el uso
						eficiente de los recursos hídricos en todos los sectores y
						asegurar la sostenibilidad de la extracción y el abastecimiento de
						agua dulce para hacer frente a la escasez de agua y reducir
						considerablemente el número de personas que sufren falta de agua
					</ul>
					<ul>5  De aquí a 2030, implementar la gestión integrada de los
						recursos hídricos a todos los niveles, incluso mediante la
						cooperación transfronteriza, según proceda
					</ul>
					<ul>6  De aquí a 2020, proteger y restablecer los ecosistemas
						relacionados con el agua, incluidos los bosques, las montañas, los
						humedales, los ríos, los acuíferos y los lagos
					</ul>
					<ul>A. De aquí a 2030, ampliar la cooperación internacional y
						el apoyo prestado a los países en desarrollo para la creación de
						capacidad en actividades y programas relativos al agua y el
						saneamiento, como los de captación de agua, desalinización, uso
						eficiente de los recursos hídricos, tratamiento de aguas
						residuales, reciclado y tecnologías de reutilización
					</ul>
					<ul>B.Apoyar y fortalecer la participación de las comunidades
						locales en la mejora de la gestión del agua y el saneamiento
					</ul>
				</ol>
			</div>
			<a class="alternativo2"
				href="https://www.un.org/sustainabledevelopment/es/poverty/
			">Para
				más información presiona aquí</a> <a class="alternativo2"
				href="https://www.pactomundial.org/ods/6-agua-limpia-y-saneamiento/
			">Para
				más información presiona aquí</a>
		</div>
		<!-- footer  -->
		<div th:insert="/layouts/footer :: footer"></div>
	</div>
</body>

</html>