<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°7</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>

	<div class="container">
		<div th:insert="/layouts/header :: header"></div>
		<div class="container1">
			<div>
				<img class="obj" src="img/ODS 7Banner.jfif" alt="100">
			</div>
			<br>
			<h5>El ODS 7 (“garantizar el acceso a una energía asequible,
				fiable, sostenible y moderna para todos”) es un problema que afecta
				a todos los países y que nos alcanza a todos. Para entender por qué
				es necesario alcanzar este objetivo, y lo que hace falta para
				conseguirlo, vamos a analizar punto por punto la frase con la que se
				ha formulado. Las cuatro dimensiones del Objetivo 7 son la
				asequibilidad, la fiabilidad, la sostenibilidad y la modernidad.
				Estas dimensiones distintas no son excluyentes, sino que están
				superpuestas e incluso, en algunos casos, una dimensión conlleva
				otra.</h5>
			<br>
			<div>
				<img src="img/ODS 7ABanner.jfif" alt="100">
			</div>
			<h2>Metas del ODS N°7: ENERGÍA ASEQUIBLE Y NO CONTAMINANTE</h2>
			<br>
			<div>
				<ol>
					<ul>1. Garantizar el acceso universal a servicios energéticos asequibles, fiables y modernos.</ul>
					<ul>2. Aumentar la proporción de energía renovable en el conjunto de fuentes energéticas.
					</ul>
					<ul>3. Incrementar la cooperación internacional para facilitar el acceso a la investigación y a la tecnología relativas a la energía limpia.
					</ul>
					<ul>4. Ampliar la infraestructura y mejorar la tecnología para prestar servicios energéticos modernos y sostenibles para todos.
					</ul>
				</ol>
			</div>
			<!-- footer  -->
			<div th:insert="/layouts/footer :: footer"></div>
		</div>
</body>

</html>