<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°8</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>


		<div class="container1">
			<div>
				<img class="obj" src="img/ODS 8Banner.png" alt="100">
			</div>
			<br>
			<div>
				<img src="img/ODS 8ABanner.jpg" alt="">
			</div>
			<br> <br>
			<h2>Metas del ODS N°8: TRABAJO DECENTE Y CRECIMIENTO ECONÓMICO</h2>
			<div>
				<ol>
					<ul>1. Mantener el crecimiento económico per cápita de
						conformidad con las circunstancias nacionales y, en particular, un
						crecimiento del producto interno bruto de al menos un 7% anual en
						los países menos adelantados.
					</ul>
					<ul>2. Lograr niveles más elevados de productividad económica
						mediante la diversificación, la modernización tecnológica y la
						innovación, centrándose en los sectores de mayor valor añadido y
						un uso intensivo de la mano de obra.

					</ul>
					<ul>3. Promover políticas orientadas al desarrollo que apoyen
						las actividades productivas, la creación de empleos decentes, el
						emprendimiento, la creatividad y la innovación y alentar la
						formalización y el crecimiento de las microempresas y las pequeñas
						y medianas empresas, entre otras cosas mediante el acceso a
						servicios financieros.
					</ul>
					<ul>4. Mejorar la producción y el consumo eficientes de los
						recursos mundiales y procurar desvincular el crecimiento económico
						de la degradación del medio ambiente, conforme al Marco Decenal de
						Programas sobre Modalidades de Consumo y Producción Sostenibles,
						empezando por los países desarrollados.
					</ul>
					<ul>5. Lograr el empleo pleno y productivo y el trabajo
						decente para todos los hombres y mujeres, incluidos los jóvenes y
						las personas con discapacidad, y la igualdad de remuneración por
						trabajo de igual valor.
					</ul>
					<ul>6. Reducir la proporción de jóvenes que no están empleados
						y no cursan estudios ni reciben capacitación.
					</ul>
					<ul>7. Adoptar medidas inmediatas y eficaces para erradicar el
						trabajo forzoso y, a más tardar en 2025, poner fin al trabajo
						infantil en todas sus formas, incluidos el reclutamiento y la
						utilización de niños soldados.
					</ul>
					<ul>8. Proteger los derechos laborales y promover un entorno
						de trabajo seguro y protegido para todos los trabajadores,
						incluidos los trabajadores migrantes, en particular las mujeres
						migrantes y las personas con empleos precarios.
					</ul>
					<ul>9. Elaborar y poner en práctica políticas encaminadas a
						promover un turismo sostenible que cree puestos de trabajo y
						promueva la cultura y los productos locales.
					</ul>
					<ul>A. Aumentar el apoyo a la iniciativa de ayuda para el
						comercio en los países en desarrollo, incluso en el contexto del
						Marco Integrado Mejorado de Asistencia Técnica Relacionada con el
						Comercio para los Países Menos Adelantados.
					</ul>
					<ul>B. Para 2030, desarrollar y poner en marcha una estrategia
						mundial para el empleo de los jóvenes y aplicar el Pacto Mundial
						para el Empleo de la Organización Internacional del Trabajo.
					</ul>
				</ol>
			</div>
		</div>
		<!-- footer  -->
		<div th:insert="/layouts/footer :: footer"></div>
	</div>
</body>

</html>