<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width-device-width,initial-scale-1.0">
<link rel="shortcut icon" href="img/ODS.png">
<title>OBJETIVO DE DESARROLLO SOSTENIBLE N°9</title>
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"
	rel="stylesheet" type="text/css">
</head>

<!-- contenido -->
<body>
	<div class="container">
		<div th:insert="/layouts/header :: header"></div>


		<div class="container1">
			<div>
				<img src="img/ODS 9Banner.jpg" alt="100">
			</div>
			<br>
			<h2>El ODS 9 ( Construir infraestructuras resilientes, promover
				la industrialización inclusiva y sostenible, y fomentar la
				innovación ) donde el acceso a energía eléctrica y agua, la
				existencia de carreteras, de conexiones marítimas, áreas y de
				internet son aspectos esenciales para lograr sociedades prósperas y
				sostenibles. Además, con el creciente aumento de la población a
				nivel mundial, se hace necesario construir más infraestructuras y de
				forma más sostenible para no dejar a nadie atrás al tiempo que
				disminuyen los impactos sobre el medioambiente.</h2>
			<br>
			<h2>Para ello, resulta fundamental crear nuevas industrias que
				hagan frente a la creciente demanda de estos servicios y garanticen
				más puestos de trabajo. Por otro lado, los avances tecnológicos y la
				investigación e innovación también son esenciales para encontrar
				soluciones permanentes a los desafíos económicos y ambientales.</h2>
			<div>
				<img src="img/logos9.jfif" alt="">
			</div>
			<br> <br>
			<h2>Metas del ODS N°9: INDUSTRIA INNOVACIÓN E INFRAESTRUCTURA</h2>
			<div>
				<ol>
					<ul>1. Desarrollar infraestructuras fiables, sostenibles,
						resilientes y de calidad, incluidas infraestructuras regionales y
						transfronterizas, para apoyar el desarrollo económico y el
						bienestar humano, haciendo especial hincapié en el acceso
						asequible y equitativo para todos.
					</ul>
					<ul>2. Promover una industrialización inclusiva y sostenible
						y, de aquí a 2030, aumentar significativamente la contribución de
						la industria al empleo y al producto interno bruto, de acuerdo con
						las circunstancias nacionales, y duplicar esa contribución en los
						países menos adelantado

					</ul>
					<ul>3. Aumentar el acceso de las pequeñas industrias y otras
						empresas, particularmente en los países en desarrollo, a los
						servicios financieros, incluidos créditos asequibles, y su
						integración en las cadenas de valor y los mercados.
					</ul>
					<ul>4. De aquí a 2030, modernizar la infraestructura y
						reconvertir las industrias para que sean sostenibles, utilizando
						los recursos con mayor eficacia y promoviendo la adopción de
						tecnologías y procesos industriales limpios y ambientalmente
						racionales, y logrando que todos los países tomen medidas de
						acuerdo con sus capacidades respectivas.
					</ul>
					<ul>5. Aumentar la investigación científica y mejorar la
						capacidad tecnológica de los sectores industriales de todos los
						países, en particular los países en desarrollo, entre otras cosas
						fomentando la innovación y aumentando considerablemente, de aquí a
						2030, el número de personas que trabajan en investigación y
						desarrollo por millón de habitantes y los gastos de los sectores
						público y privado en investigación y desarrollo.
					</ul>
					<ul>6. Reducir la proporción de jóvenes que no están empleados
						y no cursan estudios ni reciben capacitación.
					</ul>
					<ul>A. Facilitar el desarrollo de infraestructuras sostenibles
						y resilientes en los países en desarrollo mediante un mayor apoyo
						financiero, tecnológico y técnico a los países africanos, los
						países menos adelantados, los países en desarrollo sin litoral y
						los pequeños Estados insulares en desarrollo
					</ul>
					<ul>B. Apoyar el desarrollo de tecnologías, la investigación y
						la innovación nacionales en los países en desarrollo, incluso
						garantizando un entorno normativo propicio a la diversificación
						industrial y la adición de valor a los productos básicos, entre
						otras cosas.
					</ul>
					<ul>C. Aumentar de forma significativa el acceso a la
						tecnología de la información y las comunicaciones y esforzarse por
						facilitar el acceso universal y asequible a Internet en los países
						menos adelantados a más tardar en 2020.
					</ul>
				</ol>
				<h2>ANTES Y DESPUES DEL COVID</h2>
				<div>
					<img src="img/situacion2.jfif" alt="">
				</div>
			</div>
		</div>
		<!-- footer  -->
		<div th:insert="/layouts/footer :: footer"></div>
	</div>
</body>

</html>